.page-header-right{
  margin-top: 20px;
}

.manage-product {
  .input-group[class*=col-]{
    padding-left: 15px;
    padding-right: 15px;
  }
  .input-group .input-group-addon{
    background-color: #eee;
  }
  .cate-select{
    width: 40%;
    float: left;
    margin-right: 10px;
  }
  .img-thumbnail-box{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 5px;
    position: relative;

    .fa{
      position: absolute;
      top: -4px;
      right: -4px;
      cursor: pointer;

      &:hover{
        color: #f00;
      }
    }
  }
  .img-thumbnail{
    
  }
  .productInfo{
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
  }
  .detailInfo{
    outline: none;
    user-select: text;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid rgb(204, 204, 204);
    position: relative;
    height: 500px;
    padding: 10px;
    overflow: auto;
    font-size: 16px;

    img{
      max-width: 100%;
    }
  }
}