/*
 * Project: react后台
 * File Created: Tuesday, 10th April 2018 5:14:15 pm
 * Author: nanedo (toms0825@gmail.com)
 * -----
 * Last Modified: Tuesday, 10th April 2018 5:16:27 pm
 * Modified By: nanedo (toms0825@gmail.com>)
 * -----
 * Copyright 2017 - 2018
 */

h1{
  color: #f00;
  background: url("./1.png");
  div {
    border: 1px solid #000;
    
  }
}
i{
  font-size: 50px;
  color: #f00;
}